<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.playground">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppBase"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayGround">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".content.compose.ComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.PlayGround.NoActionBar" />
        <activity android:name=".content.compose.Compose1Activity" />
        <activity
            android:name=".content.coordinatorLayout.CoordinatorActivity"
            android:label="@string/title_activity_coordinator"
            android:theme="@style/Theme.PlayGround.NoActionBar" />
        <activity android:name=".content.coroutine.CoroutineActivity" />
        <activity android:name=".content.animate.AnimationActivity" />
        <activity android:name=".content.activityResult.ActivityResultActivity" />
        <activity android:name=".content.locale.LocaleActivity" />
        <activity android:name=".content.paging3.PagingActivity" />
        <activity android:name=".content.deeplink.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="tjwogns.tistory.com" />
                <!-- https://tjwogns.tistory.com -->
            </intent-filter>
        </activity>
        <activity android:name=".content.issue.IssueActivity"
            android:theme="@style/Theme.PlayGround.NoMaterial" />
        <activity android:name=".content.notification.NotificationActivity" />
        <activity android:name=".content.switch.SwitchActivity" />
        <activity android:name=".content.print.PrintActivity" />
        <activity android:name=".content.mediaStore.MediaStoreActivity" />
        <activity android:name=".content.activityFlag.ActivityFlagActivity" />
        <activity android:name=".content.dataStore.DataStoreActivity" />
<!--        <activity android:name=".content..DataStoreActivity" />-->
        <activity android:name=".content.intent.IntentActivity" />
    </application>

</manifest>